services:
  - type: web
    name: sistema-practicas
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: "bash build.sh"
    startCommand: "gunicorn sistema_practicas.wsgi:application --bind 0.0.0.0:$PORT"
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.15
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        value: .onrender.com,localhost
      - key: DB_NAME
        value: postgres
      - key: DB_USER
        value: postgres.owrgthzfdlnhkiwzdgbd
      - key: DB_PASSWORD
        sync: false
      - key: DB_HOST
        value: aws-0-us-east-1.pooler.supabase.com
      - key: DB_PORT
        value: 6543
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
    autoDeploy: true
