services:
  - type: web
    name: sistema-practicas
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn sistema_practicas.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: 5432
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
